.search-bar {
  color: rgb(5, 37, 78);
  font-size: x-large;
  font-weight: bolder;
  border: 0px solid lightgray;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.search-bar form {
  display: flex;
  gap: 10px;
  flex-direction: column;
  text-align: center;
}

.search-bar input {
  width: 50%;
  align-self: center;
  text-align: center;
  border: 1px solid rebeccapurple;
  border-radius: 10px;
}

.search-bar input:hover {
  cursor: pointer;
  color: darkblue;
}
